<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <style>
        .container1 {
            margin-top: 50px;
            justify-content: center;
            text-align: center;
            padding: 10px;
        }

        .btn1 {
            padding: 15px 15px;
            background-color: rgb(129, 9, 248);
            color: white;
            border-radius: 15px;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <div class="container text-center">
        <p>hello</p>
        <a href="" class="btn btn-primary btn1 btn-lg">Activate your account</a>
    </div>
   
</body>
</html>